.carousel{
    background-color: black;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }

  .covid, .footer{
       color:black;
       
  }
  .footer a{
    text-decoration: none;
    color:grey;
    line-height: 2;
  }
  